<div class="main-container">
  <div class="small-container">
    <h1>Add ingredients to your <%= @cocktail.name %></h1>
       <%= simple_form_for [@cocktail, @dose] do |f|%>
        <div class="form-inputs">
          <%= f.input :description %>
          <%= f.association :ingredient %>
        </div>
        <div class="btn btn-primary pink">
          <%= f.button :submit, "Add ingredient" %>
        </div>
      <% end %>
  </div>
</div>
